<%= simple_form_for [@club] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :description, :label => "内容", :placeholder => "支持Markdown语法，可使用Markdown here"%>

  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>


<script type="text/javascript">
  var editor = new Simditor({
  textarea: $('#club_description')
  //optional options
  });
</script>
