// Place all the styles related to the account::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-collection {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #555;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  text-align: center;
}
