// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  img {
    width: 50px;
    height: 50px;
  }
}
.list:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.font {
  font-family: Tahoma;
  font-size: 20px;
  color: gray;

}
