/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效





  //------ footer -------

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
    color: #666;                                        // 修改全站的字体主色 压低亮度
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: white;
  }

  footer .footer-below {
    margin-top: 25px;
    padding: 25px 0;
    background: #333333;
    padding: 16px 10px 6px;
    text-align: center;
    font-size: 12px;
    color: #C2C2C2;
    span {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        height: 24px;
        line-height: 23px;
    }
    a{
      text-decoration: none;
    }
  }

  //  to top

   .sidebar {
     display: none;
     position: fixed;
     z-index: 998;
     right: 30px;
     bottom: 30px;
     width: 40px;
     height: auto;
     line-height: 20px;
     margin-bottom: 50px;
     * {
       box-sizing: border-box;
     }
     ul {
       padding: 0;
     }
     li {
       position: relative;
       display: block;
       height: 40px;
       border: 1px solid #ddd;
       border-radius: 3px;
       text-align: center;
       cursor: pointer;
       margin-top: 8px;
       background: #fbfbfb;
       line-height: 42px;
       &:hover {
         background: #eee;
       }
       &:first-child {
         margin-top: 0;
       }
       &.backtop i {
         font-size: 18px;
       }
       i {
         color: #555;
       }
     }
   }


  // ----------navbar------------
  .navbar {
   padding-left: 20px;
   padding-right: 14%;
  }

  .navbar-default {
   background-color: #333333;
   //背景颜色

   border-color: #2d2d30;
   //边框色

   margin-bottom: 0;
   //底部 margin 不撑开距离
  }

  @media (min-width: 768px) {
   .navbar {
     border-radius: 0;
     //圆角为0
   }
  }

  .navbar-default .navbar-brand {
   color: #fff;
   padding: 10px 15px;
   //上下10px，左右15px
   line-height: 30px;
   //文字行高
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
   color: rgb(182, 33, 11);
   //鼠标放置在链接上的文字颜色

    background-color: transparent;
   //鼠标放置在链接上的背景颜色，这里设为透明
  }

  .navbar-default .navbar-nav > li > a {
   color: #fff;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
   color: rgb(182, 33, 11);
   background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
   color: rgb(182, 33, 11);
   background-color: #FFE0B2;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
   background-color: #212121;
   color: rgb(182, 33, 11);
  }

  .navbar-brand > img {
   display: inline-block;
   //图片和链接文字显示在同一行
      margin-right: 10px;
   //图片和链接文字拉开一点距离
      width: 25px;
   //定制图片宽度
      height: 25px;
   //定制图片高度
  }

  .navbar_fix{
    margin-top: 100px;
  }
  .flash{
    margin-top: -44px;
  }
  .navbar-brand > img {
    display: inline-block; //图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width: 28px; //定制图片宽度
    height: 28px; //定制图片高度
  }

  //---------Dropdown------------
  .dropdown-menu li a:hover {
   background-color: grey !important;
  }

  /* Dropdown links */
  .dropdown-menu li a {
   color: #000 !important;
  }

  /*===== 登录 ====*/
  .user_setup {
    height: 100% ;
    background-image: image-url("header.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -150px;
  }

  .user_setup_content {
    background: #fff;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 3px 5px #333;
    border: 5px solid rgb(18,43,64);
    border-radius: 25px;
    opacity: 0.95;
    filter: alpha(opacity=95);
    h2{
         text-align: center;
    }

    .account {
      text-align: center;
    }

    .form-inputs {
      margin-top: 25px;
      // width: 130%;
    }

    .form-actions {
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;
      .btn-primary{
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
    }
  }

   // 搜索框
  .input-group {
   position: relative;
   display: table;
   border-collapse: separate;
   width: 250px;
   //加上width
  }

  .search-form-group {
   margin-bottom: 10px;
   margin-top: 10px;
   margin-right: 100px;
  }
