// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-cart {
  width: 100%;
}
.cart-title{
  margin-left: 15px;
}
.shopping-cart .item {
  position: relative;
  display: table;
  width: 100%;
  padding: 0 45px 30px 0;
  border-bottom: 2px solid #ededed;
  margin-bottom: 30px;
}

.shopping-cart .item .item-thumb,
.shopping-cart .item .item-details {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.shopping-cart .item .item-thumb {
  width: 165px;
  padding-right: 25px;
}

.shopping-cart .item .item-thumb > img {
  width: 100%;
}

.shopping-cart .item .item-title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
}

.shopping-cart .item .item-title > a {
  color: #606060;
  text-decoration: none;
}

.shopping-cart .item .item-title > a:hover, .shopping-cart .item .item-title > a:focus {
  color: #a6a6a6;
  text-decoration: none;
}

.shopping-cart .item .item-price {
  font-size: 14px;
  color: #999;
  font-weight: 500;
}

.shopping-cart .item .item-remove {
  display: block;
  position: absolute;
  width: 30px;
  height: 28px;
  top: 37px;
  right: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.shopping-cart .item .item-remove > i {
  line-height: 25px;
}



.shopping-cart .btn, .shopping-cart .back-btn, .shopping-cart .done-btn, .shopping-cart .search-btn {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .shopping-cart .item {
    padding-bottom: 20px;
  }
  .shopping-cart .item .item-thumb,
  .shopping-cart .item .item-details {
    display: block;
  }
  .shopping-cart .item .item-thumb {
    margin-bottom: 20px;
  }
}

// 总价
.amount {
  color:#ef0568;
}
// 提示
.tips{
  color:gray;
  font-size: 13px;
  font-family:fantasy;
  letter-spacing: 1px;
}

// 数量框
.cart-quantity-box {
 height: 20px;
 position: absolute;
 top:37px;
 left:56%;

 p{
   color: #666;
   span{
     margin-right: 15px;
   }
 }

 .cart-quantity-input {
   width: 50px;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 2.5px;
   outline: none;
 }

 .cart-quantity-input:focus {
   border: 1px solid #000;
 }

 .cart-quantity-actions {
   padding: 1px 10px;
   border: 1px solid #ccc;
   border-radius: 2.5px;
   color: gray;
 }

 .cart-quantity-actions:hover {
   text-decoration: none;
 }
 .cart-quantity-actions:focus {
   text-decoration: none;
 }
}
