
// show页面样式

.show-service{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border-top: 1px dotted #dedede ;
  border-bottom: 1px dotted #dedede;
  p.price{
    span.rmb{
      color: #d7282d;
      margin-left: 20px;
    }
    span.price{
      color: #d7282d;
      font-size: 30px;
    }
  }
  p.service{
    span.service-detail{
      margin-left: 20px;
    }
  }
}

.show-quantity{
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  p.quantity{
    span.quantity{
      margin-left: 20px;
    }
  }
  p.sizes{
    span.sizes{
      margin-left: 20px;
    }
  }
  p.delivery{
    span.delivery{
      margin-left: 20px;
    }
  }
}
.show-action{
  padding-top:5px;

  .a1{
    width:200px;
    color:white;
    weight:10;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
    background:rgba(215,40,45,1);
  }
  .a1:hover{
    background: rgba(210,38,40 ,1);
    color: white;
  }
  .a2{
    width:200px;
    color:#3a2f2d;
    weight:10;
    border:1px solid #3a2f2d;
    border-radius: 20px;
    margin-bottom: 10px;
    float:left;
  }
  .show-scan{
    float:left;
    margin-left: 20px;
    .collapse{
    }
  }
}
.show-favorit{
  margin-top:15px;
  margin-left:8px;

  a {
    margin-left:20px;
    font-size: 20px;
    .show-heart1{
      color:red;
    }
    .show-heart2{
      color:#3a2f2d;
    }
  }
}
.description{
  font-size: 16px;
  color: #666;
  letter-spacing: 2px;
  line-height: auto;
}

// 数量
.quantity-box {
 height: 20px;
 margin-bottom: 25px;
 padding-left: 10px;
 padding-right: 10px;
  p{
   color: #666;
   span{
     margin-right: 15px;
   }
 }

 .quantity-input {
   width: 50px;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 2.5px;
   outline: none;
 }

 .quantity-input:focus {
   border: 1px solid #000;
 }

 .quantity-actions {
   padding: 1.5px 10px 1.5px 10px;
   border: 1px solid #ccc;
   border-radius: 2.5px;
   color: gray;
 }

 .quantity-actions:hover {
   text-decoration: none;
 }
 .quantity-actions:focus {
   text-decoration: none;
 }
}

// 评论
.comment-input{
  margin:20px auto;
  width:80%;

}

.comment-button{
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
  margin-left:40%;
}
.comment-button:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.nav-tabs li a {
  color: #777;
}
.tab-content{
  min-height: 300px;
}
