// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*商品列表*/

.product-box {
  text-align: center;
  padding: 0 0 100px 0;

  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: #666 !important;
  }

  .btn-menu {
    background-color: #fff;
    margin: 0 10px 0 10px;
    a{
      text-decoration: none;
    }
  }

  .btn-reorder {
    transition: .2s;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    margin: -15px 0 -15px 0;
    padding: 7.5px 10px 7.5px 10px;
    width: 150px;
  }
  .btn-reorder:hover, .btn:focus {
    background-color: #333;
    color: #f1f1f1;
  }



  /*===== 產品列表內容設置 =====*/
  .product-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }

    h2 {
      margin-top: 150px;
    }
    margin-bottom: 30px;

  }



  .product-info {
    text-align: center;
    line-height: 14px;
    min-height: 55px;
    font-size: 16px;
  }


}



.box img {
  // width: 260px;
  transition: all 0.4s; /*这句代码的意思是，当这个元素的某个属性发现变化时，不是立刻完成，而是慢慢地在400ms内完成，这样就实现了动画的效果*/
  -webkit-transition: all 0.4s;
  -webkit-transition:all 0.4s ease-in-out; /*让「谷歌浏览器」支持这个属性*/
  -moz-transition:all 0.4s ease-in-out; /*让「火狐浏览器」支持这个属性*/
  -o-transition:all 0.4s ease-in-out; /*让「safari」支持属性*/
  -ms-transition:all 0.4s ease-in-out; /*让「IE浏览器」支持这个属性*/
}

.box:hover img {
  transform: scale(1.1); /*在400ms内，图片的尺寸从 1倍 放大到 1.2倍*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

/*===== 產品路徑設置 =====*/
.path-box {
  text-align: left;
  height: 20px;

  .right-box {
    float: right;

    ul {
      margin-top: 15px;
    }
  }
  .left-box {
    float: left;
  }

}
