// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*商品列表*/

.product-box {
  text-align: center;
  padding: 0 0 100px 0;

  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: #666 !important;
  }

  .btn-menu {
    background-color: #fff;
    margin: 0 10px 0 10px;
    a{
      text-decoration: none;
    }
  }

  .btn-reorder {
    transition: .2s;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    margin: -15px 0 -15px 0;
    padding: 7.5px 10px 7.5px 10px;
    width: 150px;
  }
  .btn-reorder:hover, .btn:focus {
    background-color: #333;
    color: #f1f1f1;
  }



  /*===== 產品列表內容設置 =====*/
  .product-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }

    h2 {
      margin-top: 150px;
    }
    margin-bottom: 30px;

  }



  .product-info {
    text-align: center;
    line-height: 14px;
    min-height: 55px;
    font-size: 16px;
  }


}


/*===== 產品路徑設置 =====*/
.path-box {
  text-align: left;
  height: 20px;

  .right-box {
    float: right;

    ul {
      margin-top: 15px;
    }
  }
  .left-box {
    float: left;
  }

}
