// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// welcome
.jumbotron {
  background-image: image-url("banner-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}


 .title {
  font-size: 45px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 25px;
  color: white;
}

.slogan {
  text-align: center;
  color: white;
}

.lead {
  margin-top: 30px;
  text-align: center;
}


//-----------section2-------------
.container_in_welcome {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.9;
}
.person:hover {
    border-color: #f1f1f1;
}


// ----------secation3---------
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    img{
      width: 500px;
      height: 500px;
    }
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn-welcome {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn-welcome:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}


// 用户反馈
.short-line {
  display: block;
  background: #35CCC6;
  border-style: none;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  z-index: 53;
  width: 100px;
  height: 1.5px;
  position: relative;
}

  .bottom {
  text-align: center;
  height: 250px;
  background: image_url("bottom.jpg") no-repeat scroll top center/ cover;
    a{
      margin-top: 150px;
    }
  }
