<tr>
  <td>
   <span>
        <b><%= comment.user.nickname %></b>
     说：
   </span>
   <span class="pull-right" style="margin-top:20px;"><%= comment.created_at.to_s(:long) %></span>
  </td>
</tr>
<tr>
  <td>
   <%= simple_format(comment.content) %>
  </td>
</tr>
