<tr>
  <td>
   <span>
     <% if comment.user.name.present? %>
        <b><%= comment.user.name %></b>
     <% else %>
        <b>匿名用户</b>
     <% end %>
     说：
   </span>
   <span class="pull-right" style="margin-top:20px;"><%= comment.created_at.to_s(:long) %></span>
  </td>
</tr>
<tr>
  <td>
   <%= simple_format(comment.content) %>
  </td>
</tr>
